.MainContainer {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    background-color: black;
    color: white;
}

.firstword {
    font-family: 'Readex Pro', sans-serif;
    font-size: 100px;
    padding-top: 20rem;
}

.secondword {
    font-family: 'Readex Pro', sans-serif;
    font-size: 50px;
    padding-left: 8px;
    width: 30%;
}

.thirdword {
    font-family: 'Readex Pro', sans-serif;
    font-size: 50px;
}

.fourthword {
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}

.wrapper {
    display: flex;
}

.wrapper>div {
    flex: 1;
}

@font-face {
    font-family: 'Readex Pro', sans-serif;
    src: url("./asset/ReadexPro-VariableFont_wght.ttf") format("ttf");
}